 <nav class="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
       <h3> <img
           src="https://media.licdn.com/dms/image/C4E0BAQHD5WYHJjA3jw/company-logo_200_200/0?e=2159024400&v=beta&t=I5obOi5aqwZL-8j9-TAfl9Ba-jA5DRKu2iQD5rlLsFg"
           width="50"> <strong> Venturus Sports</strong></h3>

     </div>
     <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <span class="glyphicon glyphicon-user"></span> 
           <strong>Henrique Mello  </strong>
           <span class="glyphicon glyphicon-chevron-down"></span>
         </a>
 
       </li>
     </ul>
   </div>

 </nav>
 <b>
   <breadcrumb [allowBootstrap]="true"></breadcrumb>
 </b>
